<div class="col-xs-12" ng-controller="QueryFormController as queryFormVm">
    <form method="POST" name="queryForm" ng-submit="queryFormVm.queryJson()">

        <div class="form-group">
            <input type="text" placeholder="Full Text Search" ng-model="queryFormVm.params.queryString"
                   class="form-control"/>
        </div>

        <div class="form-group" class="dwc-terms" show-errors>
            <label class="control-label">Spatial Layer</label>
            <div class="filters row">
                <div class="col-xs-12">
                    <select ng-model="queryFormVm.spatialLayer" class="form-control input-sm" required name="spatial"
                            ng-options="v as k for (k, v) in queryFormVm.spatialLayers">
                        <option value="">-- Select a Zoom Layer --</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group dwc-terms">
            <label class="control-label">Darwin Core Terms</label>
            <div class="row filters">
                <!--<div class="col-xs-6">-->
                    <!--&lt;!&ndash;<input ng-model="queryFormVm.params.genus" class="form-control input-sm" type="text"&ndash;&gt;-->
                    <!--&lt;!&ndash;placeholder="Genus"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<select ng-model="queryFormVm.params.country"&ndash;&gt;-->
                            <!--&lt;!&ndash;ng-options="c.code as c.name for c in queryFormVm.countryCodes track by c.code"&ndash;&gt;-->
                            <!--&lt;!&ndash;class="form-control input-sm">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="">&#45;&#45; Select a Country &#45;&#45;</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<input ng-model="queryFormVm.params.family" class="form-control input-sm" type="text"-->
                    <!--placeholder="Family"/>-->
                <!--</div>-->
                <div class="col-xs-12">
                    <input ng-model="queryFormVm.params.locality" class="form-control input-sm" type="text"
                           placeholder="Locality"/>
                <!--<input ng-model="queryFormVm.params.species" class="form-control input-sm" type="text"-->
                <!--placeholder="Species"/>-->
                </div>
                <div class="col-xs-12 form-group" show-errors>
                    <span class="control-label">yearCollected</span>
                    <div class="col-xs-4">
                        <input ng-model="queryFormVm.params.fromYear" type="text" placeholder="YYYY" name="fromYear"
                               ng-required="queryFormVm.params.toYear"
                               class="form-control input-sm"/>
                    </div>
                    <span class="control-label">to</span>
                    <div class="col-xs-4">
                        <input ng-model="queryFormVm.params.toYear" type="text" placeholder="YYYY" name="toYear"
                               ng-required="queryFormVm.params.fromYear"
                               class="form-control input-sm"/>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn pull-right btn-primary"><span
                    class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </form>
</div>